@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url(reset.css);
@import url(componentes.css);

body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    background: linear-gradient(0deg,rgba(10, 10, 10, 1) 0%, rgba(133, 133, 133, 1) 87%);

    height: 100%;
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    border-radius: 20px;
    padding: 10px;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

    width: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
}

section{
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 10px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 10px;
    
    width: 100%;
}

#hero{
    width: 100%;
    background: black;
}

.hero-img{
    width: 100%;
    opacity: 60%;
}

a{
    font-size: larger;
    text-decoration: none;
    font-weight: 500;
}

.section-2{
    width: 80%;
}

.destaque{
    background: pink;
    border: 1px solid black;
    padding: 10px;
}

.botao{
    background-color: rgb(221, 239, 255);
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.botao:hover{
    background-color: rgb(222, 108, 127);
}

ul li:first-child{
    color: black;
}

img{
    width: 400px;
}